form.active-form {
  display: block; }
form fieldset {
  border: none;
  border-radius: 5px;
  margin: 0 3rem; }
  form fieldset legend {
    padding: 0.2rem 0.5rem;
    border-bottom: 2px solid #fdfdfd;
    border-top: 2px solid #fdfdfd;
    color: #fdfdfd;
    font: bold 1.5rem 'Lato', sans-serif;
    text-align: center; }
  form fieldset label div {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    form fieldset label div:last-of-type {
      flex-direction: row;
      justify-content: space-between; }
  form fieldset label:not(:last-of-type) p {
    border-radius: 5px;
    margin: .7rem auto;
    padding: 0.25rem 0.25rem 0.25rem .75rem; }
  form fieldset label:not(:last-of-type) div {
    justify-content: flex-end;
    align-items: center; }
  form fieldset label:not(:last-of-type) i {
    color: #666;
    margin-left: 0.3rem;
    padding: 0 0.25rem;
    transition: 0.5s color, 0.5s text-shadow; }
    form fieldset label:not(:last-of-type) i:last-of-type:hover {
      color: rgba(255, 0, 0, 0.5);
      cursor: pointer;
      text-shadow: 0 0 2px white; }
  form fieldset label:not(:last-of-type) input[type="number"] {
    border-radius: 5px;
    font-family: monospace;
    margin-left: 0.25rem;
    padding-right: 0.25rem; }
    form fieldset label:not(:last-of-type) input[type="number"]::-webkit-inner-spin-button, form fieldset label:not(:last-of-type) input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  form fieldset label:last-of-type p {
    border-radius: 5px;
    padding: 0.25rem;
    text-align: center; }
  form fieldset label:last-of-type input[type="text"] {
    border-radius: 5px;
    padding-left: 0.25rem;
    width: 10rem; }
  form fieldset label:last-of-type button {
    width: 5rem; }
  form fieldset label:last-of-type .max-alert {
    display: block;
    color: red;
    font-size: 0.8rem;
    margin: 0.3rem 0 0 0.3rem; }
  form fieldset label:last-of-type .hidden {
    display: none; }
  form fieldset p {
    color: #f6f6f6;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.25); }
  form fieldset input:focus {
    box-shadow: 0 0 2px 2px #529EB7;
    outline: none; }
  form fieldset input:valid {
    color: green; }
  form fieldset input[type="number"] {
    text-align: right;
    position: relative; }
  form fieldset .add-item-btn {
    border-radius: 5px;
    font: 0.7rem 'Lato', sans-serif;
    color: #fdfdfd;
    background: #529eb7; }
    form fieldset .add-item-btn:hover {
      cursor: pointer; }
  form fieldset .delete {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem; }
    form fieldset .delete .delete-category {
      color: #de0006; }
  form fieldset .hr-style {
    border-top: 3px double rgba(253, 253, 253, 0.5);
    margin-top: 0.7rem; }
  form fieldset .nav-btns {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem; }
    form fieldset .nav-btns .nav-btn {
      background: transparent;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 0.8rem;
      margin: 0 0.4rem;
      padding: 0.3rem 0.6rem;
      text-align: center;
      width: 7rem; }
    form fieldset .nav-btns .hidden {
      visibility: hidden; }
    form fieldset .nav-btns .next {
      background-color: rgba(48, 166, 74, 0.8); }
      form fieldset .nav-btns .next:hover {
        background-color: #30a64a; }
    form fieldset .nav-btns .previous {
      background-color: rgba(253, 192, 47, 0.8); }
      form fieldset .nav-btns .previous:hover {
        background-color: #fdc02f; }

.budget-display {
  grid-area: 1 / 2 / -1 / -1; }
  .budget-display #chart-container {
    display: flex; }
    .budget-display #chart-container svg {
      flex: 1;
      width: 100%;
      margin: 0.75rem;
      padding: 0.75rem; }
  .budget-display ul {
    margin: 0 0 0.75rem 0;
    padding-left: 0;
    list-style: none; }
    .budget-display ul button {
      margin: 0 0.75rem; }
  .budget-display #chart-selection-list {
    display: flex;
    justify-content: space-between; }
    .budget-display #chart-selection-list button {
      flex: 1;
      border: none;
      padding: 0.3rem 0.6rem;
      font-size: 1rem;
      color: white;
      background: rgba(48, 166, 74, 0.6); }
  .budget-display #data-display-list .percentage-display {
    width: 30px;
    display: inline-block; }
  .budget-display #data-display-list .title-display {
    width: 250px;
    display: inline-block;
    margin-left: 12px; }
  .budget-display #data-display-list .value-display {
    font-weight: bold; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  min-height: 100vh;
  margin: 0; }

html {
  background: url(https://i1.wp.com/www.lowpolygonart.com/wp-content/uploads/2017/12/Sky-500-Vertices.jpeg) no-repeat center center fixed;
  background-size: cover; }

body {
  display: grid;
  grid-template: 7rem 1fr 5rem / 100%;
  font-family: 'Lato', sans-serif; }

.main-header {
  grid-area: 1 / 1 / 2 / -1; }
  .main-header h1 {
    color: #fdfdfd;
    font-size: 2.5rem;
    text-align: center;
    margin-left: -10%; }

.content {
  display: grid;
  grid-template: 100% / 1fr 1fr;
  grid-area: 2 / 1 / -2 / -1;
  padding: 0 10rem; }
  .content .budget-input {
    display: grid;
    grid-template: 100% / 1fr 1fr;
    grid-area: 1 / 1 / -1 / 2; }
    .content .budget-input .budget-input {
      padding: 0.5rem; }
    .content .budget-input .budget-categories {
      padding: 0.75rem; }
    .content .budget-input sidebar {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
      .content .budget-input sidebar ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        list-style: none;
        background-color: #fdfdfd;
        padding: 0;
        margin: 0;
        border-radius: 5px; }
        .content .budget-input sidebar ul li {
          display: flex;
          flex-wrap: nowrap;
          flex-basis: 3.5rem;
          line-height: 3.5rem;
          font-family: 'Lato', sans-serif;
          font-size: 1.25rem; }
          .content .budget-input sidebar ul li:not(:last-of-type) {
            border-bottom: 1px solid #888; }
          .content .budget-input sidebar ul li:first-of-type a {
            border-radius: 5px 5px 0 0; }
          .content .budget-input sidebar ul li:last-of-type {
            align-items: stretch; }
            .content .budget-input sidebar ul li:last-of-type form {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: stretch;
              flex: 1;
              padding-left: 1rem;
              border-radius: 0 0 5px 5px; }
              .content .budget-input sidebar ul li:last-of-type form i {
                display: flex;
                text-shadow: 0 0 5px white; }
                .content .budget-input sidebar ul li:last-of-type form i:before {
                  padding-right: 0.5rem;
                  margin: auto; }
                .content .budget-input sidebar ul li:last-of-type form i input[type="text"] {
                  flex: 1;
                  font-size: 1.25rem;
                  margin-right: 2rem;
                  color: green;
                  background: transparent;
                  border: none;
                  border-bottom: 1px solid #529EB7; }
                  .content .budget-input sidebar ul li:last-of-type form i input[type="text"]:focus {
                    box-shadow: 0 0 2px 1px black;
                    outline: none; }
                  .content .budget-input sidebar ul li:last-of-type form i input[type="text"]::-webkit-input-placeholder {
                    font-size: 1.25rem;
                    color: black;
                    text-shadow: 0 0 5px white; }
          .content .budget-input sidebar ul li a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
            padding-left: 1rem;
            text-decoration: none;
            color: black;
            transition: .3s background-color; }
            .content .budget-input sidebar ul li a > i {
              padding-right: 1rem;
              width: 2.5rem; }
            .content .budget-input sidebar ul li a.active-link {
              background: -webkit-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
              background: linear-gradient(to bottom, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
              color: #fdfdfd;
              cursor: default; }
            .content .budget-input sidebar ul li a:not(.active-link) {
              background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
              background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
              color: #2f2f2f; }
            .content .budget-input sidebar ul li a:hover:not(.active-link) {
              background: -webkit-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
              background: linear-gradient(to bottom, #f2f9fe 0%, #d6f0fd 100%); }
      .content .budget-input sidebar select {
        margin-top: 0.5rem; }

.main-footer {
  grid-area: -2 / 1 / -1 / -1; }

/*# sourceMappingURL=index.css.map */
