form.active-form {
  display: block; }

form fieldset {
  border: none;
  border-radius: 5px;
  margin: 0 3rem; }
  form fieldset legend {
    padding: 0.2rem 0.5rem;
    border-bottom: 2px solid #fdfdfd;
    border-top: 2px solid #fdfdfd;
    color: #fdfdfd;
    font: bold 1.5rem 'Lato', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    white-space: nowrap; }
  form fieldset label div {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    form fieldset label div:last-of-type {
      flex-direction: row;
      justify-content: space-between; }
    form fieldset label div span {
      font-size: 1rem;
      color: #666; }
  form fieldset label:not(:last-of-type) p {
    border-radius: 3px;
    margin: .7rem auto;
    padding: 0.25rem 0.25rem 0.25rem .75rem; }
  form fieldset label:not(:last-of-type) div {
    justify-content: flex-end;
    align-items: center; }
  form fieldset label:not(:last-of-type) i {
    color: #666;
    font-size: 1rem;
    margin-left: 0.3rem;
    padding: 0 0.25rem;
    transition: 0.2s color, 0.2s text-shadow; }
    form fieldset label:not(:last-of-type) i:last-of-type:hover {
      color: rgba(255, 0, 0, 0.5);
      cursor: pointer;
      text-shadow: 0 0 2px white; }
  form fieldset label:last-of-type p {
    border-radius: 3px;
    padding: 0.25rem;
    text-align: center; }
  form fieldset label:last-of-type input[type="text"] {
    border-radius: 5px;
    padding-left: 0.25rem;
    width: 10rem;
    margin: 0 0.4rem; }
  form fieldset label:last-of-type button {
    width: 5rem;
    border-radius: 0;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5); }
  form fieldset label:last-of-type .max-alert {
    display: block;
    color: red;
    font-size: 0.85rem;
    margin: 0.3rem 0 0 0.3rem; }
  form fieldset label:last-of-type .hidden {
    display: none; }
  form fieldset label input[type="number"] {
    border-radius: 5px;
    font-family: monospace;
    margin-left: 0.25rem;
    padding-right: 0.25rem; }
    form fieldset label input[type="number"]::-webkit-inner-spin-button, form fieldset label input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  form fieldset p {
    color: #f6f6f6;
    font-size: .85rem;
    background: rgba(0, 0, 0, 0.25); }
  form fieldset input:focus {
    box-shadow: 0 0 2px 2px #529eb7;
    outline: none; }
  form fieldset input:valid {
    color: green; }
  form fieldset input[type="number"] {
    text-align: right;
    position: relative; }
  form fieldset .add-item-btn {
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font: 0.7rem 'Lato', sans-serif;
    color: #fdfdfd;
    background: rgba(61, 209, 93, 0.8);
    margin: 0 0.4rem;
    color: rgba(0, 0, 0, 0.75); }
    form fieldset .add-item-btn:hover {
      cursor: pointer;
      background: #3dd15d; }
  form fieldset .delete {
    display: flex;
    justify-content: center; }
    form fieldset .delete button {
      flex: 1;
      display: inline-block;
      cursor: pointer;
      margin: 0 0.4rem;
      padding: 0.3rem 0.6rem;
      border: none;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
      font-size: 0.85rem;
      text-align: center; }
    form fieldset .delete .delete-category {
      background: rgba(255, 255, 255, 0.8);
      color: #de0006; }
      form fieldset .delete .delete-category:hover {
        background: white; }
  form fieldset .hr-style {
    border-top: 3px double rgba(253, 253, 253, 0.5);
    margin: 0.75rem 0; }
  form fieldset .nav-btns {
    display: flex;
    justify-content: center;
    margin-top: 0.85rem; }
    form fieldset .nav-btns .nav-btn {
      color: rgba(0, 0, 0, 0.75);
      border: none;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
      cursor: pointer;
      display: inline-block;
      font-size: 0.85rem;
      margin: 0 0.4rem;
      padding: 0.3rem 0.6rem;
      text-align: center;
      flex: 1; }
    form fieldset .nav-btns .hidden {
      visibility: hidden; }
    form fieldset .nav-btns .next {
      background: rgba(124, 192, 247, 0.8); }
      form fieldset .nav-btns .next:hover {
        background: #7cc0f7; }
    form fieldset .nav-btns .previous {
      background-color: rgba(253, 192, 47, 0.8); }
      form fieldset .nav-btns .previous:hover {
        background-color: #fdc02f; }

.budget-display {
  grid-area: 1 / 2 / -1 / -1; }
  .budget-display #chart-container {
    display: flex; }
    .budget-display #chart-container svg {
      flex: 1;
      width: 100%;
      margin: 0.75rem;
      padding: 0.75rem; }
  .budget-display ul {
    margin: 0 0 0.75rem 0;
    padding-left: 0;
    list-style: none; }
    .budget-display ul button {
      margin: 0 0.75rem; }
      .budget-display ul button:hover {
        cursor: pointer; }
    .budget-display ul li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 0.5rem; }
  .budget-display #chart-selection-list {
    display: flex;
    justify-content: space-between; }
    .budget-display #chart-selection-list button {
      flex: 1;
      border: none;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
      padding: 0.3rem 0.6rem;
      font-size: 1rem;
      color: white;
      background: rgba(124, 192, 247, 0.8); }
      .budget-display #chart-selection-list button i {
        color: rgba(0, 0, 0, 0.75); }
      .budget-display #chart-selection-list button:hover {
        background: #7cc0f7; }
  .budget-display #data-display-list {
    font-size: .85rem; }
    .budget-display #data-display-list .percentage-display {
      width: 4rem;
      display: inline-block;
      text-align: end;
      padding-right: 0.5rem; }
    .budget-display #data-display-list .title-display {
      flex: 10;
      display: inline-block;
      margin-left: 0.5rem; }
    .budget-display #data-display-list .value-display {
      font-weight: bold;
      width: 10rem;
      text-align: end;
      padding-right: 1rem; }
      .budget-display #data-display-list .value-display span {
        color: #666; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  min-height: 100vh;
  margin: 0; }

html {
  background: url(https://i1.wp.com/www.lowpolygonart.com/wp-content/uploads/2017/12/Sky-500-Vertices.jpeg) no-repeat center center fixed;
  background-size: cover; }

body {
  display: grid;
  grid-template: 7rem 1fr 5rem / 100%;
  font-family: 'Lato', sans-serif; }

.main-header {
  grid-area: 1 / 1 / 2 / -1; }
  .main-header h1 {
    color: #fdfdfd;
    font-size: 2.5rem;
    text-align: center;
    margin-left: -10%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }

.content {
  display: grid;
  grid-template: 100% / 1fr 1fr;
  grid-area: 2 / 1 / -2 / -1;
  padding: 0 10rem; }
  .content .budget-input {
    display: grid;
    grid-template: 100% / 1fr 1fr;
    grid-area: 1 / 1 / -1 / 2; }
    .content .budget-input .budget-input {
      padding: 0.5rem; }
    .content .budget-input .budget-categories {
      padding: 0.75rem; }
    .content .budget-input sidebar {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
      .content .budget-input sidebar ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        list-style: none;
        background: transparent;
        padding: 0;
        margin: 0;
        border-radius: 5px; }
        .content .budget-input sidebar ul li {
          display: flex;
          flex-wrap: nowrap;
          flex-basis: 3.5rem;
          line-height: 3.5rem;
          font-family: 'Lato', sans-serif;
          font-size: 1.25rem; }
          .content .budget-input sidebar ul li:not(:last-of-type) {
            border-bottom: 1px solid #888; }
          .content .budget-input sidebar ul li:first-of-type a {
            border-radius: 3px 3px 0 0; }
          .content .budget-input sidebar ul li:last-of-type a {
            border-radius: 0 0 3px 3px; }
          .content .budget-input sidebar ul li a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
            padding-left: 1rem;
            text-decoration: none;
            color: black;
            transition: .3s background-color; }
            .content .budget-input sidebar ul li a > i {
              padding-right: 1rem;
              width: 2.5rem;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
            .content .budget-input sidebar ul li a.active-link {
              background: -webkit-linear-gradient(top, rgba(240, 249, 255, 0.7) 0%, rgba(124, 192, 247, 0.7) 51%, rgba(161, 219, 255, 0.7) 100%);
              background: linear-gradient(to bottom, rgba(240, 249, 255, 0.7) 0%, rgba(124, 192, 247, 0.7) 51%, rgba(161, 219, 255, 0.7) 100%);
              color: #fdfdfd;
              cursor: default;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }
            .content .budget-input sidebar ul li a:not(.active-link) {
              background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(246, 246, 246, 0.7) 47%, rgba(237, 237, 237, 0.7) 100%);
              color: #434343;
              text-shadow: 1px 1px 2px white; }
            .content .budget-input sidebar ul li a:hover:not(.active-link) {
              background: -webkit-linear-gradient(top, rgba(242, 249, 254, 0.7) 0%, rgba(214, 240, 253, 0.7) 100%);
              background: linear-gradient(to bottom, rgba(242, 249, 254, 0.7) 0%, rgba(214, 240, 253, 0.7) 100%); }
      .content .budget-input sidebar select {
        height: 2rem;
        margin-top: 0.5rem;
        padding-left: 0.75rem;
        border-radius: 3px;
        opacity: 0.8; }
      .content .budget-input sidebar button {
        height: 2rem;
        display: inline-block;
        cursor: pointer;
        margin-top: 0.5rem;
        border: none;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
        font-size: 0.85rem;
        text-align: center; }
      .content .budget-input sidebar .reset-default {
        background: rgba(222, 0, 6, 0.8);
        color: #fff; }
        .content .budget-input sidebar .reset-default:hover {
          background: #de0006; }

.main-footer {
  grid-area: -2 / 1 / -1 / -1; }
