#chart-selection-list {
  padding-left: 0;
  margin-left: 12px;

  button {
    border: none;
    padding: 0 60px;
    font-size: 1.2em;
    color: white;
    background:  rgba(48, 166, 74, 0.6)
  }
}
