ul {
  margin: 0px 12px 12px 12px;
  list-style: none;
}

#chart-selection-list {
  padding-left: 0;
  margin-left: 12px;

  button {
    border: none;
    padding: 0 60px;
    font-size: 1.2em;
    color: white;
    background:  rgba(48, 166, 74, 0.6)
  }
}

#data-display-list {
  .percentage-display {
    width: 30px;
    display: inline-block;
  }

  .title-display {
    width: 250px;
    display: inline-block;
    margin-left: 12px;
  }

  .value-display {
    font-weight: bold;
  }
}
