form {
	//display: none;

	&.active-form {
		display: block;
	}

	fieldset {
    border: none;
		border-radius: 5px;
		margin: 0 3rem;

		legend {
			padding: 0.2rem 0.5rem;
      border-bottom: 2px solid #fdfdfd;
      border-top: 2px solid #fdfdfd;
			color: #fdfdfd;
      font: bold 1.5rem 'Lato', sans-serif;
			text-align: center;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
		}

		label {
			div {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				&:last-of-type {
					flex-direction: row;
					justify-content: space-between;
          
				}
			}

			&:not(:last-of-type) {
				p {
					border-radius: 5px;
					margin: .7rem auto;
					padding: 0.25rem 0.25rem 0.25rem .75rem;
				}

				div {
					justify-content: flex-end;
					align-items: center;
				}

				i {
					color: #666;
          margin-left: 0.3rem;
					padding: 0 0.25rem;
					transition: 0.5s color, 0.5s text-shadow;

					&:last-of-type {
						//color: transparent;

						&:hover {
							color: rgba(255, 0, 0, 0.5);
							cursor: pointer;
							text-shadow: 0 0 2px white;
						}
					}
				}
			}

			&:last-of-type {
				p {
					border-radius: 5px;
					padding: 0.25rem;
					text-align: center;
				}

				input[type="text"] {
					border-radius: 5px;
					padding-left: 0.25rem;
					width: 10rem;
				}

				button {
					width: 5rem;
				}

				.max-alert {
					display: block;
					color: red;
					font-size: 0.8rem;
					margin: 0.3rem 0 0 0.3rem;
				}

				.hidden {
					display: none;
				}
			}

			input[type="number"] {
				border-radius: 5px;
				font-family: monospace;
				margin-left: 0.25rem;
				padding-right: 0.25rem;

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}

		p {
			color: #f6f6f6;
      font-size: 0.8rem;
			background: rgba(0, 0, 0, 0.25);
		}

		input {
			&:focus {
				box-shadow: 0 0 2px 2px #529EB7;
				outline: none;
			}

			&:valid {
				color: green;
			}
		}

		input[type="number"] {
			text-align: right;
			position: relative;
		}

    .add-item-btn {
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      font: 0.7rem 'Lato', sans-serif;
      color: #fdfdfd;
      background: #7cc0f7;

      &:hover {
        cursor: pointer;
      }
    }

		.delete {
			display: flex;
			justify-content: flex-end;
			margin-top: 1rem;

			.delete-category {
        color: #de0006;
			}
		}

		.hr-style {
			border-top: 3px double rgba(253, 253, 253, 0.5);
			margin-top: 0.7rem;
		}

		.nav-btns {
			display: flex;
			justify-content: center;

			margin-top: 0.8rem;

			.nav-btn {
				background: transparent;
				border: none;
				border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-size: 0.8rem;
				margin: 0 0.4rem;
				padding: 0.3rem 0.6rem;
				text-align: center;
				width: 7rem;
			}

			.hidden {
				visibility: hidden;
			}

			.next {
				background-color: rgba(48, 166, 74, 0.8);

				&:hover {
					background-color: rgb(48, 166, 74);
				}
			}

			.previous {
				background-color: rgba(253, 192, 47, 0.8);

				&:hover {
					background-color: rgb(253, 192, 47);
				}
			}
		}
	}
}
