form {
	display: none;

	&.active-form {
		display: block;
	}

	fieldset {
		border-radius: 5px;
		margin: 0 0.75rem;

		legend {
			padding: 0.2rem 0.5rem;
			border: 1px solid green;
			border-radius: 5px;
			color: white;
			background: rgba(0, 76, 0, 0.5);
			text-align: right;
		}

		label {
			div {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				&:last-of-type {
					flex-direction: row;
					justify-content: space-between;
				}
			}

			&:not(:last-of-type) {
				p {
					border-radius: 5px;
					margin: .7rem auto;
					padding: 0.25rem 0.25rem 0.25rem .75rem;
				}

				div {
					justify-content: flex-end;
					align-items: center;
				}

				i {
					color: #666;
					padding: 0 0.25rem;
					transition: .5s color text-shadow;

					&:last-of-type {
						color: transparent;

						&:hover {
							color: rgba(255, 0, 0, 0.5);
							text-shadow: 0 0 2px white;
						}
					}
				}

				input[type="number"] {
					border-radius: 5px;
					font-family: monospace;
					padding-right: 0.25rem;

					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}
			}

			&:last-of-type {
				p {
					border-radius: 5px;
					padding: 0.25rem;
					text-align: center;
				}

				input[type="text"] {
					border-radius: 5px;
					padding-left: 0.25rem;
				}
			}
		}

		p {
			color: #f6f6f6;
			background: rgba(0, 0, 0, 0.25);
		}

		input {
			&:valid {
				color: green;
			}

			&:focus {
				box-shadow: 0 0 2pt 1pt green;
			}
		}

		input[type="number"] {
			text-align: right;
			position: relative;
		}

    .hr-style {
      border-top: 3px double rgba(0, 0, 0, 0.5);
      margin-top: 1rem;
    }

    
    .nav-btns {
      display: flex;
      justify-content: center;
      margin-top: .8rem;

      .nav-btn {
        background: transparent;
        border: none;
        border-radius: 4px;
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        font-size: .8rem;
        margin: 0 .4rem;
        padding: .3rem .6rem;
        text-align: center;
      }

      .next {
        background-color: rgba(48, 166, 74, 0.6);

        &:hover {
          background-color: rgb(48, 166, 74);

          &:after {
        	  content: "\2192";
          }
        }
      }

      .previous {
        background-color: rgba(253, 192, 47, 0.6);

        &:hover {
          background-color: rgb(253, 192, 47);

          &:before {
            content: "\2190";
          }
        }
      }

    }
	}
}
